.footer {
    background: linear-gradient(0deg, rgba(19,6,65,1) 0%, rgba(8,3,26,1) 100%);
    padding-top: 40px;
    padding-bottom: 40px;
}

.link {
    color: #fff;
    opacity: .8;
}
.link:hover {
    opacity:1;
    color:#fff;
}

.linkBlog {
    padding: 0 10px;
}

.linkList {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.linkList > li {
    float: left;
    margin-right: 10px;
}