.meSection {
    border: 2px solid #270f82;
    padding: 20px;
    border-radius: 14px;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 1rem;
    font-weight: 600;
}

.subtitleHelp {
    font-size: .9rem;
}

.description {
    padding: 4px 8px;
    outline: none;
    width: 100%;
    border-radius: 10px;
    font-size: .9rem;
}

.saveButton {
    background-color: #130641;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 4px 16px;
    font-weight: 600;
    margin-top: 1rem;

}

.saveButton:disabled {
    opacity: .5;
}

.tagContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    flex-flow: column;
    background-color: #130641;
    border-radius: 10px;
    padding: .2rem .6rem;
    margin: .2rem .2rem;
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
    font-size: .9rem;
    font-weight: 600;

}