html, body {
    background-color: #08031a;
    color: #fff;
}

input, textarea, select, select > option, .form-control {
    background-color: #130641;
    color: #fff;
    border: none;
}

.btn, button.btn, a.btn {
    font-weight: 600;
}

/* Primary */
.btn.btn-primary, button.btn.btn-primary, a.btn.btn-primary {
    background-color: #270f82;
    border: none;
    transition: opacity .2s;
}

.btn.btn-primary:hover, button.btn.btn-primary:hover, a.btn.btn-primary:hover {
    background-color: #270f82;
    opacity: .8;
    transition: opacity .2s;
}

/* Primary Alt*/
.btn.btn-primary-alt, button.btn.btn-primary-alt, a.btn.btn-primary-alt {
    background-color: #130641;
    border: none;
    transition: opacity .2s;
    color: #fff;
}

.btn.btn-primary-alt:hover, button.btn.btn-primary-alt:hover, a.btn.btn-primary-alt:hover {
    background-color: #130641;
    opacity: .8;
    transition: opacity .2s;
    color: #fff;
}

a {
    color: #fff;
    transition: color .2s;
    text-decoration: none;
}
a:hover {
    color: rgba(255,255,255,.5);
    transition: color .2s;
}

nav > ul.pagination > li > a {
    background-color: #270f82;
    color: #fff;
    border: 1px solid #130641;
}

nav > ul.pagination > li > a.disabled {
    background-color: #270f82;
    color: rgba(255,255,255,.2);
    border: 1px solid #130641;
}

nav > ul.pagination > li > a:hover, nav > ul.pagination > li > a:active, nav > ul.pagination > li > a:focus {
    background-color: #270f82;
    color: rgba(255,255,255,.2);
    outline: none;
    border: 1px solid #130641;
}