[Unit]
Description=DiscoFriends website service
After=network.service

[Service]
ExecStart=/home/discofriends/Disco/Disco.Web/bin/RELEASE/net6.0/Disco.Web
LimitNOFILE=900000
LimitNPROC=900000
# Required on some systems
WorkingDirectory=/home/discofriends/Disco/Disco.Web/bin/RELEASE/net6.0/
Restart=always
# Restart service after 1 second if service crashes
RestartSec=1
# Uncomment to ignore 0 exit code
# RemainAfterExit=yes
SyslogIdentifier=DiscoWeb
User=discofriends

[Install]
WantedBy=multi-user.target